extends ./layout.pug
block content
  h1 This is a form that you can use to create a library of Movies
  form(method='POST' action='/addMovie' class="text-alignLeft")
    div.form-group
      label(for='title') Title:
      input#name.form-control(type='text', placeholder='movie title' name='title')
    div.form-group
      label(for='description') Description:
      input#name.form-control(type='text', placeholder='movie description' name='description')
    div.form-group.margin-bottom
      p Select A Category Of This Movie
      select#category(name='category') Select A Category Of This Movie
        option(value='drama') Drama
        option(value='comedy') Comedy
        option(value='action') Action
        option(value='anime') Anime
        option(value='suspense') Suspense
        option(value='horror') Horror
        option(value='adventure') Adventure
    div.form-group.margin-bottom
      p Rate this Movie from 1 to 5:
      input(type="number" id="quantity" name="rating" min="1" max="5" value="0")
      label(for='quantity')
    button.btn.btn-primary.margin-bottom.fullWidth(type='submit') Submit
    div
      a(href="/" class="btn btn-info margin-bottom fullWidth") Go back